@media (max-width: 767px) {
	.form-control {
        display: inline-block;
        width: calc(100% - 220px);
        margin-top: 0px;
	}
    .navbar-form {
        border-width: 0px;
        margin-top: -3px;
    }
}
