.section-content {
  background-color: #D3D6CB;
}
.aside-left {
  background-color: #E6DADA;
  min-height: 200px;
}
.aside-right {
  background-color: #E6DADA;
  min-height: 200px;
}

/*
#83BABA
#D3D6CB
*/

@media (max-width: 767px) {
  .section-content {
    margin-top: -20px;
    padding-top: 20px;
  }
}
