<ul *ngIf="categoryNode && categoryNode.children && categoryNode.children.any()">
  <li *ngFor="let childCategoryNode of categoryNode.children.asArray()"
      [class.leaf-category]="!childCategoryNode.children || !childCategoryNode.children.any()"
  >
    <a href="#">
      <div class="category-item category-level-{{childCategoryNode.node.level}}">
        {{childCategoryNode.node.name}} ({{childCategoryNode.node.level}})
      </div>
    </a>
    <app-tree-node [categoryNode]="childCategoryNode"
                   *ngIf="childCategoryNode.children"
    >
    </app-tree-node>
  </li>
</ul>
