/* You can add global styles to this file, and also import other style files */

/*============================
  columns of same height styles
  =============================

  From:
  https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
*/
.row-eq-height [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row-eq-height {
  overflow: hidden;
}
